.window{
    box-shadow: 0px 0px 20px black;
    border: 1vh solid rgba(100, 109, 124, 0);
    position: absolute;
    background-color: rgba(100, 109, 124, 0.5);
    height: 30vh;
    width: 30vw;
    animation: windowShow 0.5s;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}

.frame {
    top:5.5vh;
    height: calc(100% - 5.5vh);
    width: 100%;   
    border: none;
    position: absolute;
}

@keyframes windowShow{
    0%{opacity: 0;};
    100%{opacity: 100;};
}

#bgHolder {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('../bg.jpg');
    background-size: 100% 100%;
    filter: blur(15px);
    z-index: -1;
}

#desktop{
    height: 100%;
    width: 100%;
    position: absolute;
}
.desktopBtn{
    height: 15vmin;
    width: 15vmin;
    background-color: rgba(255,255,255,0.3);
    border-radius: 3px;
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.desktopBtn:hover{
    background-color: rgba(250,205,75,0.5);
    
}