.window{
    box-shadow: 0px 0px 20px black;
    border: 1vh solid rgba(100, 109, 124, 0);
    position: absolute;
    background-color: rgba(100, 109, 124, 0.5);
    height: 30vh;
    width: 30vw;
    animation: windowShow 0.5s;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}

.frame {
    top:5.5vh;
    height: calc(100% - 5.5vh);
    width: 100%;   
    border: none;
    position: absolute;
}

@keyframes windowShow{
    0%{opacity: 0;};
    100%{opacity: 100;};
}

#bgHolder {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('../bg.jpg');
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#desktop{
    height: 100%;
    width: 100%;
    position: absolute;
}
.desktopBtn{
    height: 7vmin;
    width: 40vmin;
    background-color: rgba(255,255,255,0.3);
    border-radius: 3px;
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.desktopBtn:hover,#startBtn:hover{
    background-color: rgba(150,150,150,0.3);
}

#startBtn{
    height: 20vmin;
    width: 20vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top:35%;
    left:50%;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

#testBtnImg{
    position: absolute;
    transform: translate(-50%,-50%);
    top:30%;
    left:50%;
    width: 3vmin;
    height: 3vmin;
}

#testBtnText{
    font-size: 3vmin;
    font-weight: 700;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}

#seeAllBtn{
    font-weight: 700;
    position: absolute;

    top:70%;
    left:8%;
}

#personalInfoBtn{
    font-weight: 700;
    position: absolute;
    top:70%;
    right:8%;
}
#contributeBtn{
    font-weight: 700;
    position: absolute;
    top:82%;
    left:50%;
    transform: translate(-50%,-50%);
}