.holder{
    width: 33%;
    height: 100%;
    font-size: 20vmin;
    text-align: center;
    position: absolute;
    transform: translate(0,0);
}

#packageHolder{
    left:0;
}
#passageHolder{
    left:33.5%;
}
#contentHolder{
    left:67%;
}