#historyHolder{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.sentence {
    width: 90%;
    height: 10vmin;
    transform: translate(5%, 0);
    left:50%;
    margin-bottom: 12px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.sentence.p {
    background-color: rgba(134, 218, 66, 0.5);
    border: 1px solid rgba(126, 219, 72, 0.5);
}

.sentence.c {
    background-color: rgba(226, 158, 94, 0.5);
    border: 1px solid rgba(172, 82, 40, 0.5);
}

.sentence.d {
    background-color: rgba(226, 158, 94, 0.5);
    border: 1px solid rgba(172, 82, 40, 0.5);
}

.sentence.f {
    background-color: rgba(226, 102, 94, 0.5);
    border: 1px solid rgba(255, 95, 21, 0.5);
}

.sentence.untested {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(87,89,138,0.5);
}

.sentence:hover{
    background-color: rgba(250,205,75,0.5);
}

.sentence > .sentenceText {
    font-size: 4vmin;
    font-weight: 700;
    position: absolute;
    left: 5%;
    top:20%;
}
.sentence > .poemName {
    font-size: 2.5vmin;
    position: absolute;
    left: 5%;
    top:57%
}
.sentence > .sentenceState{
    font-size: 1vmin;
    position: absolute;
    right:5%;
    top:57%
}
